<form #f="ngForm">
    <div class="panel panel-default">
        <div class="panel-heading">User Information</div>
    
    <div class="panel-body">

        <div class="row" style="margin-top: 10px;">
            <div class="col-xs-7">
                <div  class="alert" [ngClass]="{'alert-success': actionStatus == true, 'alert-danger' : actionStatus === false }" *ngIf="errorMessage">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>{{errorMessage}}</strong>
                </div>
            </div>
        </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-1">
            <span>Name</span>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="txtName" required ngModel/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-1">
            <span>Email</span>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="txtEmail" required ngModel/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-1">
            <span>Username</span>
        </div>
        <div class="col-xs-6">
            <input type="text" class="form-control" name="txtUsername" required ngModel/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-1">
            <span>Password</span>
        </div>
        <div class="col-xs-6">
            <input type="password" class="form-control" name="txtPassword" required ngModel/>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-xs-1">
            <span>Confirm Password</span>
        </div>
        <div class="col-xs-6">
            <input type="password" class="form-control" name="txtConfirmPassword" required ngModel/>
        </div>
    </div>
    

    <div class="row">
        <div class="col-xs-6 col-xs-offset-1" style="text-align:right ;margin-right:75px;margin-top:10px">
            <input type="button" value="Save" class="btn btn-primary" (click)="onSave()"  />
        </div>
    </div>
    </div>
    </div>
    </form>