<form #f="ngForm">
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h3>Login</h3>
            </div>
        </div>
        <div class="well-style well">
            <div class="row">
                <div class="col-xs-6">
                    <div  class="alert  alert-danger" *ngIf="errorMessage">
                        <a href="#" class="close" data-dismiss="alert">&times;</a>
                        <strong>{{errorMessage}}</strong>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" placeholder="User Name" class="form-control" ngModel name="txtUsername"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input class="form-control" placeholder="Password" type="password" ngModel name="txtPassword" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group">
                        <input type="button" value="Login" class="btn btn-primary" (click)="onLogin()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

